In [25]:
import pandas as pd
import numpy as np

users = pd.read_csv('takehome_users.csv', encoding = 'latin-1')
eng = pd.read_csv('takehome_user_engagement.csv')

In [26]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [27]:
#converting users columns to timestamp format
users['creation_time'] = pd.to_datetime(users['creation_time'])
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'], unit = 's')

In [4]:
eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [28]:
#converting eng columns to timestamp format
eng['time_stamp'] = pd.to_datetime(eng['time_stamp'])

In [29]:
#matching name of merge column and merging, dropping users with NaT logins, using day portion of timestamp
users.columns = [x if x != 'object_id' else 'user_id' for x in users.columns]
df_merge = pd.merge(users,eng,on = 'user_id', how = 'left')
df_merge = df_merge.dropna(subset = ['time_stamp'],how = 'any')
df_merge['time_stamp'] = df_merge['time_stamp'].dt.date
df_merge.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22,1.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15,1.0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29,1.0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09,1.0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25,1.0

In [7]:
def seven_day_span(dates):
    max = 1
    count = 1
    index = 0
    for x in range(dates.index.min(),dates.index.min()+len(dates)-1):
        index = x+1
        while(np.logical_and((dates[index] - dates[x]) < pd.Timedelta('7 days'), index in range(dates.index.min(),dates.index.min()+len(dates)))): 
            count +=1
            if index < dates.index.min()+len(dates)-1:
                index +=1
            else:
                break
        if max < count:
            max = count
        count = 1
    return max

In [9]:
df_active = df_merge[['user_id','time_stamp']].reset_index().sort_values(['user_id','time_stamp']).drop('index',axis =1)
df_active.head()

   user_id  time_stamp
0        1  2014-04-22
1        2  2013-11-15
2        2  2013-11-29
3        2  2013-12-09
4        2  2013-12-25

In [10]:
df_active = df_active.groupby('user_id').agg({'time_stamp': seven_day_span})

         time_stamp
user_id
1                 1
2                 3
3                 1
4                 1
5                 1
6                 1
7                 1
10                7
11                1
13                1
14                1
17                1
19                2
20                3
21                1
22                1
23                1
24                1
25                2
27                1
28                1
29                1
30                1
31                1
33                3
36                1
37                1
41                1
42                7
43                4
...             ...
11961             4
11962             1
11963             1
11964             6
11965             4
11967             7
11968             1
11969             7
11974             1
11975             7
11977             1
11979             1
11980             2
11981             2
11982             1
11983             1
11984             1
11986             1
11987             1
11988             6
11989             1
11990             1
11991             2
11992             1
11995             1
11996             1
11997             1
11998             1
11999             1
12000             1

[8823 rows x 1 columns]

In [15]:
df_active.columns = ['max_login_per_7']
df_active

         max_login_per_7
user_id
1                      1
2                      3
3                      1
4                      1
5                      1
6                      1
7                      1
10                     7
11                     1
13                     1
14                     1
17                     1
19                     2
20                     3
21                     1
22                     1
23                     1
24                     1
25                     2
27                     1
28                     1
29                     1
30                     1
31                     1
33                     3
36                     1
37                     1
41                     1
42                     7
43                     4
...                  ...
11961                  4
11962                  1
11963                  1
11964                  6
11965                  4
11967                  7
11968                  1
11969                  7
11974                  1
11975                  7
11977                  1
11979                  1
11980                  2
11981                  2
11982                  1
11983                  1
11984                  1
11986                  1
11987                  1
11988                  6
11989                  1
11990                  1
11991                  2
11992                  1
11995                  1
11996                  1
11997                  1
11998                  1
11999                  1
12000                  1

[8823 rows x 1 columns]

In [30]:
#creating flag for active users
users = users.join(df_active,on = 'user_id')
users['active'] = users['max_login_per_7'] >=3

In [119]:
#removing irrelevant columns for model
clean_users = users.drop(['user_id','name','email'], axis = 1)
clean_users['account_life'] =  clean_users['last_session_creation_time'] -clean_users['creation_time']

In [96]:
clean_users

,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,max_login_per_7,active,account_life
0,2014-04-22 03:53:30,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,1.0,False,0 days
1,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,3.0,True,136 days
2,2013-03-19 23:14:52,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0,1.0,False,0 days
3,2013-05-21 08:09:28,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0,1.0,False,1 days
4,2013-01-17 10:14:20,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0,1.0,False,5 days
5,2013-12-17 03:37:06,GUEST_INVITE,2013-12-19 03:37:06,0,0,197,11241.0,1.0,False,2 days
6,2012-12-16 13:24:32,SIGNUP,2012-12-20 13:24:32,0,1,37,NaN,1.0,False,4 days
7,2013-07-31 05:34:02,PERSONAL_PROJECTS,NaT,1,1,74,NaN,NaN,False,NaT
8,2013-11-05 04:04:24,PERSONAL_PROJECTS,NaT,0,0,302,NaN,NaN,False,NaT
9,2013-01-16 22:08:03,ORG_INVITE,2014-06-03 22:08:03,1,1,318,4143.0,7.0,True,503 days
10,2013-12-26 03:55:54,SIGNUP,2013-12-27 03:55:54,0,0,69,NaN,1.0,False,1 days
11,2014-04-17 23:48:38,ORG_INVITE,NaT,0,0,130,9270.0,NaN,False,NaT
12,2014-03-30 16:19:38,ORG_INVITE,2014-03-30 16:19:38,0,0,254,11204.0,1.0,False,0 days
13,2012-10-11 16:14:33,SIGNUP,2012-10-12 16:14:33,0,0,0,NaN,1.0,False,1 days
14,2013-07-16 21:33:54,PERSONAL_PROJECTS,NaT,0,0,175,NaN,NaN,False,NaT
15,2013-02-11 10:09:50,PERSONAL_PROJECTS,NaT,0,0,211,NaN,NaN,False,NaT
16,2014-04-09 14:39:38,GUEST_INVITE,2014-04-12 14:39:38,1,0,175,1600.0,1.0,False,3 days
17,2013-08-24 00:26:46,GUEST_INVITE,NaT,0,0,2,3153.0,NaN,False,NaT
18,2013-05-24 14:56:36,SIGNUP,2013-05-30 14:56:36,1,0,0,NaN,2.0,False,6 days
19,2014-03-06 11:46:38,SIGNUP,2014-05-29 11:46:38,0,0,58,NaN,3.0,True,84 days
20,2013-01-22 12:27:42,PERSONAL_PROJECTS,2013-01-22 12:27:42,0,0,54,NaN,1.0,False,0 days
21,2014-02-10 06:00:46,ORG_INVITE,2014-02-10 06:00:46,0,0,7,2994.0,1.0,False,0 days
22,2012-08-17 08:30:27,ORG_INVITE,2012-08-18 08:30:27,1,0,6,23.0,1.0,False,1 days
23,2013-09-09 22:20:03,SIGNUP,2013-09-09 22:20:03,1,0,123,NaN,1.0,False,0 days
24,2014-02-25 00:11:13,GUEST_INVITE,2014-02-26 00:11:13,1,0,81,6312.0,2.0,False,1 days
25,2013-07-28 00:53:32,ORG_INVITE,NaT,0,0,56,11857.0,NaN,False,NaT
26,2014-01-14 17:35:11,ORG_INVITE,2014-01-15 17:35:11,0,0,134,4189.0,1.0,False,1 days
27,2013-02-11 20:00:25,SIGNUP,2013-02-14 20:00:25,0,0,6,NaN,1.0,False,3 days
28,2013-09-16 02:08:41,SIGNUP,2013-09-17 02:08:41,0,0,92,NaN,1.0,False,1 days
29,2013-06-04 00:44:25,GUEST_INVITE,2013-06-04 00:44:25,0,0,251,4835.0,1.0,False,0 days
...,...,...,...,...,...,...,...,...,...,...
11970,2013-05-04 06:54:23,GUEST_INVITE,NaT,0,0,3,11854.0,NaN,False,NaT
11971,2012-09-13 23:23:11,ORG_INVITE,NaT,0,0,16,7012.0,NaN,False,NaT
11972,2012-10-30 03:09:47,PERSONAL_PROJECTS,NaT,0,0,52,NaN,NaN,False,NaT
11973,2012-12-26 16:42:08,SIGNUP,2012-12-28 16:42:08,0,0,167,NaN,1.0,False,2 days
11974,2013-03-23 11:10:11,GUEST_INVITE,2014-05-22 11:10:11,1,0,31,6410.0,7.0,True,425 days
11975,2013-12-25 22:01:41,PERSONAL_PROJECTS,NaT,0,0,248,NaN,NaN,False,NaT
11976,2013-09-17 18:58:51,SIGNUP_GOOGLE_AUTH,2013-09-20 18:58:51,0,0,144,NaN,1.0,False,3 days
11977,2014-04-23 16:28:06,PERSONAL_PROJECTS,NaT,1,0,29,NaN,NaN,False,NaT
11978,2013-01-28 09:26:33,SIGNUP,2013-01-31 09:26:33,0,0,2,NaN,1.0,False,3 days
11979,2014-02-02 15:23:18,ORG_INVITE,2014-04-18 15:23:18,0,0,406,3068.0,2.0,False,75 days
11980,2013-03-05 01:53:48,GUEST_INVITE,2013-04-02 01:53:48,0,0,110,5775.0,2.0,False,28 days
11981,2013-12-06 14:39:15,ORG_INVITE,2013-12-06 14:39:15,1,1,57,2527.0,1.0,False,0 days
11982,2013-07-30 00:23:36,SIGNUP_GOOGLE_AUTH,2013-07-30 00:23:36,0,0,234,NaN,1.0,False,0 days
11983,2014-02-11 21:26:11,SIGNUP,2014-02-11 21:26:11,0,0,170,NaN,1.0,False,0 days
11984,2013-07-08 17:23:26,PERSONAL_PROJECTS,NaT,0,0,74,NaN,NaN,False,NaT
11985,2012-06-24 01:02:14,SIGNUP_GOOGLE_AUTH,2012-07-01 01:02:14,0,0,111,NaN,1.0,False,7 days
11986,2013-03-15 03:21:01,SIGNUP,2013-03-15 03:21:01,0,0,1,NaN,1.0,False,0 days
11987,2014-03-15 11:04:47,PERSONAL_PROJECTS,2014-06-01 11:04:47,0,0,114,NaN,6.0,True,78 days
11988,2013-09-02 11:24:33,SIGNUP_GOOGLE_AUTH,2013-09-07 11:24:33,1,0,22,NaN,1.0,False,5 days
11989,2013-07-05 21:00:48,ORG_INVITE,2013-07-06 21:00:48,0,0,25,3944.0,1.0,False,1 days
11990,2014-04-20 14:22:45,SIGNUP_GOOGLE_AUTH,2014-05-30 14:22:45,0,0,388,NaN,2.0,False,40 days
11991,2014-04-09 19:39:56,PERSONAL_PROJECTS,2014-04-11 19:39:56,0,0,129,NaN,1.0,False,2 days
11992,2013-03-28 23:24:21,PERSONAL_PROJECTS,NaT,0,0,281,NaN,NaN,False,NaT
11993,2012-06-05 04:46:16,GUEST_INVITE,NaT,0,0,84,5450.0,NaN,False,NaT
11994,2013-10-21 13:33:17,PERSONAL_PROJECTS,2013-10-22 13:33:17,0,0,0,NaN,1.0,False,1 days
11995,2013-09-06 06:14:15,ORG_INVITE,2013-09-06 06:14:15,0,0,89,8263.0,1.0,False,0 days
11996,2013-01-10 18:28:37,SIGNUP_GOOGLE_AUTH,2013-01-15 18:28:37,0,0,200,NaN,1.0,False,5 days
11997,2014-04-27 12:45:16,GUEST_INVITE,2014-04-27 12:45:16,1,1,83,8074.0,1.0,False,0 days
11998,2012-05-31 11:55:59,PERSONAL_PROJECTS,2012-06-02 11:55:59,0,0,6,NaN,1.0,False,2 days
11999,2014-01-26 08:57:12,SIGNUP,2014-01-26 08:57:12,0,1,0,NaN,1.0,False,0 days

### Creation Source

In [107]:
clean_users['creation_source'].value_counts()

ORG_INVITE            4254
GUEST_INVITE          2163
PERSONAL_PROJECTS     2111
SIGNUP                2087
SIGNUP_GOOGLE_AUTH    1385
Name: creation_source, dtype: int64

In [110]:
clean_users[clean_users['active']==1]['creation_source'].value_counts()

ORG_INVITE            553
GUEST_INVITE          360
SIGNUP                293
SIGNUP_GOOGLE_AUTH    232
PERSONAL_PROJECTS     164
Name: creation_source, dtype: int64

In [171]:
(360+1803)/len(users)

0.18025

In [111]:
clean_users[clean_users['active']==0]['creation_source'].value_counts()

ORG_INVITE            3701
PERSONAL_PROJECTS     1947
GUEST_INVITE          1803
SIGNUP                1794
SIGNUP_GOOGLE_AUTH    1153
Name: creation_source, dtype: int64

In [58]:
active_creation_ratio =  [x/len(clean_users[clean_users['active']==1]) for x in list(clean_users[clean_users['active']==1]['creation_source'].value_counts())]
active_creation_ratio

[0.34519350811485644,
 0.2247191011235955,
 0.18289637952559301,
 0.14481897627965043,
 0.10237203495630462]

In [59]:
inactive_creation_ratio = [x/len(clean_users[clean_users['active']==0]) for x in list(clean_users[clean_users['active']==0]['creation_source'].value_counts())]
inactive_creation_ratio

[0.35593383342950569,
 0.18724754760530871,
 0.17339873052510099,
 0.172533179457588,
 0.11088670898249664]

From first inspection, it seems that users are more likely to be active if they sign up for personal projects or a guest invite. I verify that this difference is signifcant with a chi-squared test

In [66]:
obs = np.array([list(clean_users[clean_users['active']==1]['creation_source'].value_counts()),list(clean_users[clean_users['active']==0]['creation_source'].value_counts())])
obs

array([[ 553,  360,  293,  232,  164],
       [3701, 1947, 1803, 1794, 1153]], dtype=int64)

In [67]:
from scipy import stats
chi2,p,dof,expected = stats.chi2_contingency(obs)
p

0.00096795414137005654

Our p-value is .000967 which is below a standard significance level of .05. We reject the null hypothesis and conclude that there is a difference in the distribution of creation sources between active and inactive users

### Session Time

Since all users without a last login time are inactive, the last session time is a useful column to determine activity. I created a new feature 'account_life' that is the length of time between account creation and last login. Active users have a much longer account life than inactive users as confirmed by the difference of means t-test.

In [120]:
clean_users[clean_users['active']==1]['account_life'].mean()

Timedelta('300 days 04:49:26.292134')

In [127]:
clean_users[clean_users['active']==0].dropna(how='any')['account_life'].mean()

Timedelta('6 days 03:25:23.686254')

In [129]:
stats.ttest_ind(clean_users[clean_users['active']==1]['account_life'].dt.days,clean_users[clean_users['active']==0].dropna(how = 'any')['account_life'].dt.days,equal_var = False)

Ttest_indResult(statistic=57.121962334340935, pvalue=0.0)

In [136]:
active_count = len(clean_users[clean_users['active']==1])
active_mean = clean_users[clean_users['active']==1]['account_life'].dt.days.mean()
active_sd = clean_users[clean_users['active']==1]['account_life'].dt.days.std()

In [137]:
inactive_count = len(clean_users[clean_users['active']==0].dropna(how='any'))
inactive_mean = clean_users[clean_users['active']==0].dropna(how='any')['account_life'].dt.days.mean()
inactive_sd = clean_users[clean_users['active']==0].dropna(how='any')['account_life'].dt.days.std()

In [139]:
diffSD = np.sqrt(active_sd**2/active_count + inactive_sd**2/inactive_count)
diffSD

5.1479037392453995

In [162]:
1-stats.norm.cdf((active_mean - inactive_mean)/diffSD)

0.0

### Mailing and Marketing

In [203]:
active_mailing = clean_users[clean_users['active']==1]['opted_in_to_mailing_list'].sum()/active_count

In [219]:
inactive_count_with_na = len(clean_users[clean_users['active']==0])
inactive_mailing = clean_users[clean_users['active']==0]['opted_in_to_mailing_list'].sum()/inactive_count_with_na

In [205]:
total_users = len(clean_users)
total_users_mailing = clean_users['opted_in_to_mailing_list'].sum()

In [206]:
SD_mailing = np.sqrt(2*(total_users_mailing/total_users) * (1-total_users_mailing/total_users) / total_users)

In [208]:
active_mailing, inactive_mailing,SD_mailing

(0.25842696629213485, 0.24812463935372187, 0.0055864381914299084)

In [209]:
(active_mailing - inactive_mailing) / SD_mailing

1.8441673541144106

In [211]:
stats.norm.cdf((active_mailing - inactive_mailing) / SD_mailing)

0.96742062277811491

We fail to reject the null hypothesis that there is a difference in proportion of users on the mailing list between active and inactive users at a .05 significance level. For a two-tailed test, the cdf should be .975 to reject the null hypothesis.

In [218]:
active_marketing = clean_users[clean_users['active']==1]['enabled_for_marketing_drip'].sum()/active_count
inactive_marketing = clean_users[clean_users['active']==0]['enabled_for_marketing_drip'].sum()/inactive_count_with_na

In [216]:
total_users_marketing = clean_users['enabled_for_marketing_drip'].sum()
SD_marketing = np.sqrt(2*total_users_marketing/total_users * (1-total_users_marketing/total_users) / total_users)

In [220]:
active_marketing, inactive_marketing, SD_marketing

(0.15355805243445692, 0.14868243893056357, 0.0046013202614193401)

In [224]:
(active_marketing - inactive_marketing) / SD_marketing

1.0596118563565047

In [225]:
stats.norm.cdf((active_marketing - inactive_marketing) / SD_marketing)

0.85533939128102965

We again fail to reject the null hypothesis at the .05 signifiance level. However, in both cases active users participate more in mailing and marketing. Even though the results do not pass the .05 significance level, there could be meaningful insight drawn from a business perspective.

### Org ID and Referral

In [232]:
active_org_id = clean_users[clean_users['active']==1][['org_id','active']].groupby('org_id').count()

In [233]:
inactive_org_id = clean_users[clean_users['active']==0][['org_id','active']].groupby('org_id').count()
inactive_org_id.columns = ['inactive']

In [238]:
org_id_table = active_org_id.join(inactive_org_id)
org_id_table['active_proportion'] = org_id_table['active'] / (org_id_table['active']+org_id_table['inactive'])

In [244]:
org_id_table.sort_values('active_proportion', ascending = False)

        active  inactive  active_proportion
org_id
387          7         5           0.583333
235          6         7           0.461538
270          6         8           0.428571
399          5         8           0.384615
392          6        10           0.375000
400          3         5           0.375000
415          6        10           0.375000
117          8        14           0.363636
345          5         9           0.357143
289          6        11           0.352941
291          6        11           0.352941
318          6        11           0.352941
281          6        12           0.333333
395          3         6           0.333333
218          8        16           0.333333
82           9        18           0.333333
161          7        14           0.333333
306          6        12           0.333333
381          4         8           0.333333
177          6        13           0.315789
305          4         9           0.307692
62          12        27           0.307692
343          6        14           0.300000
352          3         7           0.300000
238          5        12           0.294118
282          5        12           0.294118
366          5        12           0.294118
280          5        12           0.294118
225          5        12           0.294118
273          5        12           0.294118
...        ...       ...                ...
323          1        14           0.066667
312          1        15           0.062500
1           14       219           0.060086
29           3        47           0.060000
36           3        47           0.060000
80           2        32           0.058824
376          1        16           0.058824
253          1        16           0.058824
14           5        82           0.057471
68           2        33           0.057143
384          1        17           0.055556
276          1        17           0.055556
144          2        35           0.054054
348          1        18           0.052632
223          1        18           0.052632
327          1        19           0.050000
351          1        19           0.050000
220          1        19           0.050000
158          1        19           0.050000
125          1        21           0.045455
349          1        21           0.045455
229          1        22           0.043478
143          1        22           0.043478
406          1        22           0.043478
101          1        23           0.041667
204          1        24           0.040000
26           2        51           0.037736
0           11       308           0.034483
86           1        34           0.028571
51           1        37           0.026316

[400 rows x 3 columns]

Organization appears to be a significant factor with certain organizations sporting an active percentage as high as 58%. This makes sense as an organization could all use a platform to collaborate.

In [248]:
referred_users = clean_users[clean_users['invited_by_user_id'] > 0]
unreferred_users = clean_users[clean_users['invited_by_user_id'].isnull()]

In [259]:
active_referred = referred_users['active'].sum()/len(referred_users)
inactive_referred = unreferred_users['active'].sum()/len(unreferred_users)
total_users_referred = len(clean_users[clean_users['invited_by_user_id'].notnull()])
SD_referred = np.sqrt(2*total_users_referred/total_users * (1-total_users_referred/total_users) / total_users)

In [260]:
active_referred,inactive_referred,total_users_referred, SD_referred

(0.14227832320398939, 0.12341035285688698, 6417, 0.0064393638078617671)

In [261]:
stats.norm.cdf((active_referred-inactive_referred)/SD_referred)

0.99830572722704258

We reject the null hypothesis at a .05 signifiance level that the proportion of referred users in the active population and inactive population is the same. This shows that the referral is a useful factor in predicting active users.

In [262]:
clean_users.head()

,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,max_login_per_7,active,account_life
0,2014-04-22 03:53:30,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,1.0,False,0 days
1,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,3.0,True,136 days
2,2013-03-19 23:14:52,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0,1.0,False,0 days
3,2013-05-21 08:09:28,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0,1.0,False,1 days
4,2013-01-17 10:14:20,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0,1.0,False,5 days

In [265]:
model_data = clean_users.drop(['creation_time','last_session_creation_time', 'max_login_per_7'],axis = 1)
model_data['account_life'] = model_data['account_life'].dt.days
model_data['invited_by_user_id'] = model_data['invited_by_user_id'] > 0
model_data

,creation_source,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,active,account_life
0,GUEST_INVITE,1,0,11,True,False,0.0
1,ORG_INVITE,0,0,1,True,True,136.0
2,ORG_INVITE,0,0,94,True,False,0.0
3,GUEST_INVITE,0,0,1,True,False,1.0
4,GUEST_INVITE,0,0,193,True,False,5.0
5,GUEST_INVITE,0,0,197,True,False,2.0
6,SIGNUP,0,1,37,False,False,4.0
7,PERSONAL_PROJECTS,1,1,74,False,False,NaN
8,PERSONAL_PROJECTS,0,0,302,False,False,NaN
9,ORG_INVITE,1,1,318,True,True,503.0
10,SIGNUP,0,0,69,False,False,1.0
11,ORG_INVITE,0,0,130,True,False,NaN
12,ORG_INVITE,0,0,254,True,False,0.0
13,SIGNUP,0,0,0,False,False,1.0
14,PERSONAL_PROJECTS,0,0,175,False,False,NaN
15,PERSONAL_PROJECTS,0,0,211,False,False,NaN
16,GUEST_INVITE,1,0,175,True,False,3.0
17,GUEST_INVITE,0,0,2,True,False,NaN
18,SIGNUP,1,0,0,False,False,6.0
19,SIGNUP,0,0,58,False,True,84.0
20,PERSONAL_PROJECTS,0,0,54,False,False,0.0
21,ORG_INVITE,0,0,7,True,False,0.0
22,ORG_INVITE,1,0,6,True,False,1.0
23,SIGNUP,1,0,123,False,False,0.0
24,GUEST_INVITE,1,0,81,True,False,1.0
25,ORG_INVITE,0,0,56,True,False,NaN
26,ORG_INVITE,0,0,134,True,False,1.0
27,SIGNUP,0,0,6,False,False,3.0
28,SIGNUP,0,0,92,False,False,1.0
29,GUEST_INVITE,0,0,251,True,False,0.0
...,...,...,...,...,...,...,...
11970,GUEST_INVITE,0,0,3,True,False,NaN
11971,ORG_INVITE,0,0,16,True,False,NaN
11972,PERSONAL_PROJECTS,0,0,52,False,False,NaN
11973,SIGNUP,0,0,167,False,False,2.0
11974,GUEST_INVITE,1,0,31,True,True,425.0
11975,PERSONAL_PROJECTS,0,0,248,False,False,NaN
11976,SIGNUP_GOOGLE_AUTH,0,0,144,False,False,3.0
11977,PERSONAL_PROJECTS,1,0,29,False,False,NaN
11978,SIGNUP,0,0,2,False,False,3.0
11979,ORG_INVITE,0,0,406,True,False,75.0
11980,GUEST_INVITE,0,0,110,True,False,28.0
11981,ORG_INVITE,1,1,57,True,False,0.0
11982,SIGNUP_GOOGLE_AUTH,0,0,234,False,False,0.0
11983,SIGNUP,0,0,170,False,False,0.0
11984,PERSONAL_PROJECTS,0,0,74,False,False,NaN
11985,SIGNUP_GOOGLE_AUTH,0,0,111,False,False,7.0
11986,SIGNUP,0,0,1,False,False,0.0
11987,PERSONAL_PROJECTS,0,0,114,False,True,78.0
11988,SIGNUP_GOOGLE_AUTH,1,0,22,False,False,5.0
11989,ORG_INVITE,0,0,25,True,False,1.0
11990,SIGNUP_GOOGLE_AUTH,0,0,388,False,False,40.0
11991,PERSONAL_PROJECTS,0,0,129,False,False,2.0
11992,PERSONAL_PROJECTS,0,0,281,False,False,NaN
11993,GUEST_INVITE,0,0,84,True,False,NaN
11994,PERSONAL_PROJECTS,0,0,0,False,False,1.0
11995,ORG_INVITE,0,0,89,True,False,0.0
11996,SIGNUP_GOOGLE_AUTH,0,0,200,False,False,5.0
11997,GUEST_INVITE,1,1,83,True,False,0.0
11998,PERSONAL_PROJECTS,0,0,6,False,False,2.0
11999,SIGNUP,0,1,0,False,False,0.0

In [267]:
df = pd.get_dummies(model_data, columns = ['creation_source','org_id'])
df.fillna(0, inplace = True)
df

,opted_in_to_mailing_list,enabled_for_marketing_drip,invited_by_user_id,active,account_life,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH,...,org_id_407,org_id_408,org_id_409,org_id_410,org_id_411,org_id_412,org_id_413,org_id_414,org_id_415,org_id_416
0,1,0,True,False,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,True,True,136.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,True,False,1.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,True,False,5.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,True,False,2.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,1,False,False,4.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,1,1,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,True,True,503.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,False,False,1.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,False,False,1.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1,0,True,False,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,True,False,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,0,False,False,6.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,False,True,84.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,True,False,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,0,False,False,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,True,False,1.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,True,False,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,False,False,3.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,False,False,1.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,True,False,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11970,0,0,True,False,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11971,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11972,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11973,0,0,False,False,2.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11974,1,0,True,True,425.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11975,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11976,0,0,False,False,3.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11977,1,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11978,0,0,False,False,3.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11979,0,0,True,False,75.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11980,0,0,True,False,28.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11981,1,1,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11982,0,0,False,False,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11983,0,0,False,False,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11984,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11985,0,0,False,False,7.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11986,0,0,False,False,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11987,0,0,False,True,78.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11988,1,0,False,False,5.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11989,0,0,True,False,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11990,0,0,False,False,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11991,0,0,False,False,2.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11992,0,0,False,False,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11993,0,0,True,False,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11994,0,0,False,False,1.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11995,0,0,True,False,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11996,0,0,False,False,5.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11997,1,1,True,False,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11998,0,0,False,False,2.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11999,0,1,False,False,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [270]:
from sklearn.model_selection import train_test_split
x = df.drop(['active'],axis = 1)
y = df['active']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .2,random_state = 3)

In [271]:
from sklearn import tree
from sklearn.metrics import accuracy_score
clf = tree.DecisionTreeClassifier()
clf.fit(x_train,y_train)
accuracy_score(clf.predict(x_test),y_test)

0.96750000000000003

In [272]:
accuracy_score(clf.predict(x_train),y_train)

0.99979166666666663

In [280]:
for name, importance in zip(x.columns,clf.feature_importances_):
    print(name,importance)

opted_in_to_mailing_list 0.00320261733087
enabled_for_marketing_drip 0.00662477258625
invited_by_user_id 0.00630535642634
account_life 0.868973550635
creation_source_GUEST_INVITE 0.0019758520482
creation_source_ORG_INVITE 0.00324994825916
creation_source_PERSONAL_PROJECTS 0.00322446443446
creation_source_SIGNUP 0.0019758520482
creation_source_SIGNUP_GOOGLE_AUTH 0.00464441335284
org_id_0 0.0010491063646
org_id_1 0.00144567649208
org_id_2 8.06058259257e-05
org_id_3 0.000107281788551
org_id_4 0.00017883797048
org_id_5 0.0
org_id_6 0.00122345682133
org_id_7 0.0
org_id_8 0.00108978062171
org_id_9 0.00137575027738
org_id_10 0.000794069661686
org_id_11 0.0
org_id_12 0.000689393943911
org_id_13 0.000755210959586
org_id_14 0.0
org_id_15 0.0
org_id_16 0.0
org_id_17 0.0
org_id_18 0.000491624725602
org_id_19 0.000635632482469
org_id_20 0.000786367029119
org_id_21 0.0
org_id_22 0.000383971248233
org_id_23 0.000212720811995
org_id_24 0.00111168818536
org_id_25 0.000379971547731
org_id_26 0.0
org_id_27 0.0
org_id_28 0.0
org_id_29 0.00069085735951
org_id_30 0.00107279649462
org_id_31 0.000216922704578
org_id_32 0.0
org_id_33 0.0
org_id_34 0.000851136266916
org_id_35 0.0
org_id_36 0.000215789480851
org_id_37 0.000971960833018
org_id_38 0.000378574895555
org_id_39 0.0009601178902
org_id_40 0.000397002074605
org_id_41 0.000280418225981
org_id_42 0.0
org_id_43 0.0
org_id_44 0.00034557412341
org_id_45 0.0
org_id_46 0.0
org_id_47 0.000387340692899
org_id_48 0.0
org_id_49 0.000742245964572
org_id_50 0.0
org_id_51 0.0
org_id_52 0.000837412321094
org_id_53 0.0
org_id_54 0.000891955407548
org_id_55 0.0
org_id_56 0.0
org_id_57 0.000648484774793
org_id_58 0.000178222271155
org_id_59 0.0
org_id_60 0.0
org_id_61 0.0
org_id_62 0.0
org_id_63 0.000881032929353
org_id_64 0.0
org_id_65 0.000815164766914
org_id_66 0.000464650133535
org_id_67 0.0
org_id_68 0.0
org_id_69 0.0
org_id_70 0.0
org_id_71 0.000759943095461
org_id_72 0.0
org_id_73 0.0
org_id_74 0.0
org_id_75 0.0
org_id_76 0.000276441560685
org_id_77 0.000301295717029
org_id_78 0.0
org_id_79 0.000720591278829
org_id_80 0.000580286941057
org_id_81 0.000858288672521
org_id_82 0.00068601612806
org_id_83 0.000407112372568
org_id_84 0.000305026933339
org_id_85 0.0
org_id_86 0.0
org_id_87 0.000290503817962
org_id_88 0.00108257701926
org_id_89 0.0
org_id_90 0.00121744220945
org_id_91 0.0
org_id_92 0.0
org_id_93 0.000593940751435
org_id_94 0.0
org_id_95 0.000599955075364
org_id_96 0.0
org_id_97 0.0
org_id_98 0.000482787378293
org_id_99 0.000359038050296
org_id_100 0.0
org_id_101 0.000721528389537
org_id_102 0.0
org_id_103 0.0
org_id_104 0.000657127264899
org_id_105 0.0
org_id_106 0.000753080158086
org_id_107 0.0
org_id_108 0.0
org_id_109 0.0
org_id_110 0.000754355278583
org_id_111 0.00100040629088
org_id_112 0.0
org_id_113 0.0
org_id_114 0.0
org_id_115 0.000333200161576
org_id_116 0.0
org_id_117 0.000652097503344
org_id_118 0.000697912164465
org_id_119 0.00071843794292
org_id_120 0.0
org_id_121 0.000775735589192
org_id_122 0.0
org_id_123 0.00030882789201
org_id_124 0.000558190944279
org_id_125 0.0
org_id_126 0.0
org_id_127 0.000847885595585
org_id_128 0.000758963596821
org_id_129 0.00124961837932
org_id_130 0.0
org_id_131 0.000341968305946
org_id_132 0.0
org_id_133 0.0
org_id_134 0.0
org_id_135 0.0
org_id_136 0.0
org_id_137 0.0
org_id_138 0.0
org_id_139 0.000729545371643
org_id_140 0.0
org_id_141 0.00093997896264
org_id_142 0.000772513582754
org_id_143 0.000320666990409
org_id_144 0.0
org_id_145 0.000757559769788
org_id_146 0.0
org_id_147 0.0
org_id_148 0.0
org_id_149 0.0
org_id_150 0.0
org_id_151 0.0
org_id_152 0.000351087160809
org_id_153 0.0
org_id_154 0.0
org_id_155 0.000782181195323
org_id_156 0.000262545564359
org_id_157 0.0
org_id_158 0.00074726486729
org_id_159 0.0
org_id_160 0.000764916252483
org_id_161 0.0
org_id_162 0.0
org_id_163 0.000217555336094
org_id_164 0.0
org_id_165 0.0
org_id_166 0.000312662302133
org_id_167 0.0
org_id_168 0.0
org_id_169 0.0
org_id_170 0.0
org_id_171 5.35197747016e-05
org_id_172 0.0
org_id_173 0.000803431412216
org_id_174 0.000744744233552
org_id_175 0.0
org_id_176 0.000745875183349
org_id_177 0.0
org_id_178 0.0
org_id_179 0.0
org_id_180 0.0
org_id_181 0.0
org_id_182 0.0
org_id_183 0.0
org_id_184 0.0
org_id_185 0.0
org_id_186 0.0
org_id_187 0.000789441171221
org_id_188 0.0
org_id_189 0.0
org_id_190 0.0
org_id_191 0.0
org_id_192 0.0
org_id_193 0.0
org_id_194 0.000294035779275
org_id_195 0.000777033596248
org_id_196 0.0
org_id_197 0.0
org_id_198 0.0
org_id_199 0.0
org_id_200 0.0
org_id_201 0.000339953267704
org_id_202 0.000360575682435
org_id_203 0.000659414122437
org_id_204 0.0
org_id_205 0.0
org_id_206 0.000335269012703
org_id_207 0.0
org_id_208 0.0
org_id_209 0.000841783121126
org_id_210 0.000795756700591
org_id_211 0.000666854576137
org_id_212 0.0
org_id_213 0.0
org_id_214 0.000671717662014
org_id_215 0.0
org_id_216 0.000678253616181
org_id_217 0.0
org_id_218 0.000380744150671
org_id_219 0.000391468944645
org_id_220 0.000808617258746
org_id_221 0.000328942012546
org_id_222 0.000670538025407
org_id_223 0.0
org_id_224 0.000606284271763
org_id_225 0.0
org_id_226 0.000355783979014
org_id_227 0.00109570418622
org_id_228 0.000701946338826
org_id_229 0.0
org_id_230 0.0
org_id_231 0.0
org_id_232 0.0
org_id_233 0.0
org_id_234 0.0
org_id_235 0.0
org_id_236 0.0
org_id_237 0.0
org_id_238 0.00049759444176
org_id_239 0.000488534847082
org_id_240 0.00069085735951
org_id_241 0.0
org_id_242 0.0
org_id_243 0.000707331650391
org_id_244 0.0
org_id_245 0.000800604985764
org_id_246 0.0
org_id_247 0.0
org_id_248 0.0011347795662
org_id_249 0.0
org_id_250 0.0
org_id_251 0.0
org_id_252 0.0
org_id_253 0.0
org_id_254 0.0
org_id_255 0.00047097190406
org_id_256 0.0
org_id_257 0.0
org_id_258 0.0
org_id_259 0.0
org_id_260 0.000268160628313
org_id_261 0.000693912667821
org_id_262 0.0
org_id_263 0.0
org_id_264 0.0
org_id_265 0.00051749971116
org_id_266 0.0
org_id_267 0.0
org_id_268 0.000297632547217
org_id_269 0.0
org_id_270 0.0
org_id_271 0.000386050689356
org_id_272 0.0
org_id_273 0.0
org_id_274 0.0
org_id_275 0.0
org_id_276 0.0
org_id_277 0.000420220460546
org_id_278 0.0
org_id_279 0.0
org_id_280 0.0
org_id_281 0.0
org_id_282 0.0
org_id_283 0.0
org_id_284 0.00046764303167
org_id_285 0.0
org_id_286 0.0
org_id_287 0.0
org_id_288 0.0
org_id_289 0.00124085133706
org_id_290 0.000855763711081
org_id_291 0.000539959567828
org_id_292 0.0
org_id_293 0.0
org_id_294 0.0
org_id_295 0.0
org_id_296 0.0
org_id_297 0.0
org_id_298 0.0
org_id_299 0.0
org_id_300 0.0
org_id_301 0.0
org_id_302 0.000402653349688
org_id_303 0.0
org_id_304 0.000797940250234
org_id_305 0.0
org_id_306 0.000689947452576
org_id_307 0.0
org_id_308 0.000851810991861
org_id_309 0.0
org_id_310 0.0
org_id_311 0.0
org_id_312 0.000729545371643
org_id_313 0.0
org_id_314 0.0
org_id_315 0.0
org_id_316 0.0
org_id_317 0.0
org_id_318 0.000284502723257
org_id_319 0.000663118696158
org_id_320 0.0
org_id_321 0.0
org_id_322 0.0
org_id_323 0.000547159028732
org_id_324 0.0
org_id_325 0.0
org_id_326 0.0
org_id_327 0.0
org_id_328 0.0
org_id_329 0.0
org_id_330 0.0
org_id_331 0.000484008726723
org_id_332 0.0
org_id_333 0.0
org_id_334 0.0
org_id_335 0.0
org_id_336 0.0
org_id_337 0.0
org_id_338 0.0
org_id_339 0.00154587044713
org_id_340 0.0014205090169
org_id_341 0.00028686462198
org_id_342 0.0
org_id_343 0.000670622116115
org_id_344 0.0
org_id_345 0.0
org_id_346 0.0
org_id_347 0.0
org_id_348 0.00035473384456
org_id_349 0.000424203592874
org_id_350 0.000783200529551
org_id_351 0.0
org_id_352 0.0
org_id_353 0.0
org_id_354 0.000706015592964
org_id_355 0.0
org_id_356 0.0
org_id_357 0.0
org_id_358 0.0
org_id_359 0.0
org_id_360 0.0
org_id_361 0.0
org_id_362 0.000821792122742
org_id_363 0.0
org_id_364 0.0
org_id_365 0.0
org_id_366 0.0
org_id_367 0.000796211351293
org_id_368 0.0
org_id_369 0.0
org_id_370 0.0
org_id_371 0.0
org_id_372 0.000452586951109
org_id_373 0.0
org_id_374 0.000445374315876
org_id_375 0.0
org_id_376 0.0
org_id_377 0.0
org_id_378 0.0
org_id_379 0.000393665273989
org_id_380 0.000373062974135
org_id_381 0.0
org_id_382 0.000274186709848
org_id_383 0.0
org_id_384 0.0
org_id_385 0.0
org_id_386 0.000674421674846
org_id_387 0.0
org_id_388 0.000859744007412
org_id_389 0.00040535653908
org_id_390 0.0
org_id_391 0.0
org_id_392 0.000768518641693
org_id_393 0.0
org_id_394 0.0
org_id_395 0.000454835830369
org_id_396 0.0
org_id_397 0.0
org_id_398 0.000434253197406
org_id_399 0.0
org_id_400 0.0
org_id_401 0.0
org_id_402 0.0
org_id_403 0.0
org_id_404 0.0
org_id_405 0.0
org_id_406 0.0
org_id_407 0.0
org_id_408 0.0
org_id_409 0.000501061381623
org_id_410 0.000861587475944
org_id_411 0.0
org_id_412 0.0
org_id_413 0.000714260978135
org_id_414 0.0
org_id_415 0.000945623729656
org_id_416 0.0